.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select {
  appearance: none;
  padding-right: var(--spacing-10) !important;
  cursor: pointer;
}

.select:disabled {
  cursor: not-allowed;
}

.arrow {
  position: absolute;
  right: var(--spacing-3);
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--color-gray-400);
}
